body {
  background-image: url(./images/bg-intro-desktop.png);
  background-repeat: no-repeat;
  background-color: hsl(0, 100%, 74%);
  font-family: "Poppins", sans-serif;
}

body, html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#mainDiv {
  text-align: center;
  width: 80%;
  height: auto;
  display: grid;
  gap:5%;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  top: 25%;
  left: 10%;
  margin: 0 auto;
  margin-bottom: auto;
}

.description{
  text-align: left;
  font-weight: 400;
  font-size: 0.8rem;
}

h1 {
  display: block;
  font-size: 2.5rem;
  text-align: left;
  color: aliceblue;
  margin: 0;
}

p {
  color: aliceblue;
}

.block{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.center-content {
  align-items: center;
  justify-content: center;
}

.square-blue{
  display: block;
  border-radius: 10px;
  text-align: center;
  background-color: hsl(248, 35%, 52%);
}

#form{
  display: block;
  border-radius: 10px;
  text-align: center;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 35px;
}

.green{  
  margin-bottom: 1%;
  width: 80%;
}

.form{
  display: block;
  width:80%;
  height: 45px;
  margin-bottom: 8%;
  text-align: left;
  position: relative;
}

input, button{
  display: block;
  padding: 17px 25px;
  margin-bottom: 18px;
  border: 1px solid #efefef;
  border-radius: 5px;
  font-weight: 600;
  width: 84%;
}

button{
  text-transform: uppercase;
  color: #fff;
  background-color: hsl(154,59%,51%);
  font-size: 16px;
  width: 100%;
}

footer {
  margin-top: auto;
  font-size: 0.6rem;
  padding: 20px;
  text-align: center;
  color: white;
  width: 100%;
  bottom: 0;
  left: 0;
}

.form-div{
  position: relative;
  display: flex;
  flex-direction: column;
}

.error{
  border: 2px solid hsl(0, 100%, 74%);
  background: url("./images/icon-error.svg") no-repeat;
  background-position: 95% 50%;
}

.error-text{
  font-size: 10px;
  font-style: italic;
  margin-left: auto;
  margin-top: -15px;
  margin-bottom: 20px;
  color: hsl(0, 100%, 74%);
}

@media (max-width: 600px) {
  #mainDiv {
    padding: 0px 20px 80px 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    top: 0;
    gap: 0;
  }
  .description{
    font-size: 1rem;
  }

